/* * Copyright (c) 2026 Fordi / FomaDev. 
 * Licensed under FomaDev Public License.
 * See LICENSE file in the project root for full license information.
 */

# Dépendances (Le plus important)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement et IDE
.env
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Tests
coverage/

# OS spécifique
.DS_Store
Thumbs.db